#* @vtlvariable name="action" type="com.atlassian.cpji.bulk.action.BulkSelectTargetProjectAction" *#
<html>
<head>
    <title>$i18n.getText("cpji.select.destination.project")</title>
</head>
<body>
<header class="aui-page-header"><div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText("cpji.operation.bulk.name")</h1>
        </div>
    </div>
</header>
<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")
    <div class="content-body aui-panel">
        <form action="BulkSelectTargetProject.jspa" class="aui" method="post">
            <h2 class="formtitle">$i18n.getText('cpji.select.destination.project')</h2>
            <fieldset>
				<div class="field-group" id="targetEntityLink-container" data-selected-project-key="$textutils.htmlEncode($action.selectedIssueProjectKey)"
						data-recently-used-projects="$textutils.htmlEncode($action.recentlyUsedProjects)">
					<label for="targetEntityLink">$i18n.getText('common.words.project')</label>
					<select name="targetEntityLink" id="targetEntityLink" class="hidden"></select>
                    <span id="targetEntityLinkLoader" class="hidden">
						<input class="text" type="text" disabled="disabled"/>
						<span class="icon loading"></span>
					</span>
				</div>
            </fieldset>
			<div class="buttons-container">
				<div class="buttons">
					<input id="select-project-submit" type="submit" value="$i18n.getText('common.forms.next')" class="aui-button aui-button-primary submit"/>
					<a href="$allIssuesURL" class="aui-button-cancel">$i18n.getText("common.forms.cancel")</a>
				</div>
			</div>
            <input type="hidden" name="id" value="$action.getId()"/>
            <input type="hidden" name="atl_token" value="$action.getXsrfToken()"/>
        </form>
    </div>
</div>
</body>
</html>
